/*IE 10 Bug fix START*/
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
/*IE 10 Bug fix END*/

.tCenter {
  text-align: center;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.high {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.jumbotron {
  background-image: url(http://i.imgur.com/IMGsrBr.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 150%;
}
