/*IE 10 Bug fix START*/
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
/*IE 10 Bug fix END*/
img {
  max-width: 80vw;
}
.tCenter {
  text-align: center;
}

.dark {
  background-color: rgb(10, 10, 10);
  color: white;
}
.bootMargin {
  margin-top: 30px;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.high {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.jumbotron {
  background-image: url(images/wave.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-size: 150%;
}

#marketing {
  background-image: url(images/m.png);
  background-repeat: repeat;
  background-attachment: fixed;
  padding-bottom: 30px;
}

@media (max-width: 850px), {
  .mHide {
    display: none;
  }
}
