/*IE 10 Bug fix START*/
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }
/*IE 10 Bug fix END*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.high {
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
